---
title: About
h1: Andrew Wafaa
h2: A.K.A. FunkyPenguin
date: 2011-08-27
---

<div id="home">&lArr; <a href="/">Return home</a></div>

<h1><%= @item[:h1] %></h1>
<h3><%= @item[:h2] %></h3>

<h2>Me</h2>
<p>I'm a Principal Engineer, Open Source at <a href="http://www.arm.com">ARM Ltd.</a>. An elected member of the openSUSE Board and a contributor to the <a href="http://www.opensuse.org">openSUSE</a> Project, currently focused on providing <a href="http://en.opensuse.org/Portal:ARM">openSUSE on ARM</a>.</p>

<h2>This Site</h2>
<p>This site is powered by <a href="http://nanoc.ws/">Nanoc</a>, a Ruby based static site generator. I decided to move away from a traditional *sql based platform (like Wordpress) and settled on Nanoc after some recommendations.</p>

<p>My theme is stongly based on that of <a href="http://ithaca.arpinum.org">Peter Aronoff</a>. It is a work in progress, mostly in the styling.</p>

<p>The views and content on this site are expressly those of my own and **DO NOT** necessarily represent those of my employer.</p>

<div class="footer group">
  <ul class="nav">
    <li><a href="/">Home</a></li>
    <li class="here">| About</li>
    <li>| <a href="/archive.html">Archive</a></li>
    <li>| <a href="/categories.html">Categories</a></li>
    <li>| <a href="/tags.html">Tags</a></li>
    <li>| <a href="http://openphoto.wafaa.eu">Photos</a></li>
  </ul>
  <ul class="me">
    <li>
      <a href="/atom.xml" class="rss">Subscribe</a>
    </li>
    <li>
      <a href="https://github.com/awafaa" class="github">Me @ Github</a>
    </li>
    <li>
      <a href="https://twitter.com/awafaa" class="twitter">Me @ Twitter</a>
    </li>
        <li>
          <a href="https://plus.google.com/u/0/103092666279088875227" class="googleplus">Me @ Google+</a>
        </li>
        <li>
          <a href="https://www.facebook.com/andrewwafaa" class="facebook">Me @ Facebook</a>
        </li>
  </ul>
</div>
